########################
## {{ ansible_managed }}
########################
upstream {{ sitename }} {
server unix:{{ socket_dir }} fail_timeout=0;
}

server {
    listen [::]:80;
    listen 80;
    server_name {{ sitename }}.satnogs.org;
    return 301 https://{{ sitename }}.satnogs.org$request_uri;
}

server {
    listen [::]:443 ssl spdy;
    listen 443 ssl spdy;
    server_name {{ sitename }}.satnogs.org;
    root {{ app_dir }};
    server_tokens off;

    client_max_body_size 100M;
    proxy_connect_timeout 300s;
    proxy_read_timeout 300s;

    ssl_certificate {{ ssl_cert }};
    ssl_certificate_key {{ ssl_cert_key }};
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;

    error_log   /var/log/nginx/satnogs/{{ sitename }}-error.log;

    location / {
      # Proxy if requested file not found
      try_files $uri $uri/index.html $uri.html @{{ sitename }}-loc;
    }

    location /static/ {
      alias {{ app_dir }}/staticfiles/;
    }

    location @{{ sitename }}-loc {

      gzip off;
      proxy_set_header    X-Forwarded-Ssl     on;
      proxy_set_header    X-Real-IP           $remote_addr;
      proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
      proxy_set_header    X-Forwarded-Proto   https;
      proxy_set_header    Host                $http_host;
      proxy_set_header    X-Frame-Options     SAMEORIGIN;
      proxy_redirect      off;

      proxy_pass http://{{ sitename }};
    }
}
