#!/bin/bash

{% if net_dev or net_prod %}
# Activate virtualenv
. {{ venv_dir }}/bin/activate

# Run update commands
python {{ app_dir }}/manage.py fetch_data
python {{ app_dir }}/manage.py update_all_tle
{% endif %}
