---
## firewalld
FIREWALLD_SSH_PORT:

## mariadb
# Note: don't use quotes around the password, because the mysql_user module
# will include them in the password but the mysql client will not
MARIADB_ROOT_PASSWORD:
MARIADB_NETWORK_PROD_PASSWORD:
MARIADB_NETWORK_DEV_PASSWORD:
MARIADB_DB_PROD_PASSWORD:
MARIADB_DB_DEV_PASSWORD:
